.appDesign__hero {
  margin-bottom: 80px;
}

.appDesign__hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e7816b;
  color: white;
  padding-top: 64px;
  padding-bottom: 64px;
  border-radius: 10px;
  background-image: url(../images/appDesignOval.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
}

.appDesign__hero__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  margin-bottom: 24px;
}

.appDesign__hero__text {
  max-width: 350px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.appd__collection {
  padding-top: 60px;
  padding-bottom: 60px;
}
