.graphicDesign__hero {
  margin-bottom: 80px;
}

.graphicDesign__hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e7816b;
  color: white;
  padding-top: 64px;
  padding-bottom: 64px;
  border-radius: 10px;
  background-image: url(../images/graphicDesignOval.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
}

.graphicDesign__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  margin-bottom: 24px;
}

.graphicDesign__text {
  max-width: 350px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.graphicD__collection {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 815px) {
  .graphicDesign__hero__container {
    background-image: url(../images/graphicdTablet.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
  }
}

@media (max-width: 600px) {
  .graphicDesign__hero__container {
    background-image: url(../images/designoMobileOval.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    padding-left: 30px;
    padding-right: 30px;
  }

  .graphicDesign__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.1;
  }
  .graphicDesign__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
  }
}

/* Project view styles */
.project__view__container {
  margin-bottom: 80px;
}

.project__view__item:nth-child(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/webDesign.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.project__view__item:nth-child(1):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/webDesign.png);
}

.project__view__item:nth-child(1):active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../images/webDesign.png);
}

.project__view__item:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/appDesign.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.project__view__item:nth-child(2):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/appDesign.png);
}

.project__view__item:nth-child(2):active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../images/appDesign.png);
}
