/* Font styles */
/* Jost font */
@font-face {
  font-display: swap;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jost-v20-latin-regular.woff2") format("woff2");
}
/* jost-italic - latin */
@font-face {
  font-display: swap;
  font-family: "Jost";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/jost-v20-latin-italic.woff2") format("woff2");
}
/* jost-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/jost-v20-latin-500.woff2") format("woff2");
}
/* jost-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/jost-v20-latin-700.woff2") format("woff2");
}

/* Manrope font */

@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/manrope-v20-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/manrope-v20-latin-600.woff2") format("woff2");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost";
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1360px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  padding: 17px 24px;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 1px;
  color: #333136;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
}

.btn:hover {
  background-color: #ffad9b;
  color: white;
}

#active {
  color: #e7816b;
}

/* Header */
.header {
  padding-top: 34px;
  padding-bottom: 45px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #333136;
}

.header__container i {
  display: none;
}

.header__item:hover .header__link {
  text-decoration: underline;
}

.header__item:active .header__link {
  opacity: 0.6;
  transition: 0.4s all;
}

@media (max-width: 600px) {
  .header__list {
    display: none;
  }

  .header__container i {
    display: block;
    font-size: 24px;
  }
}

/* Main  */
/* Hero section */
.hero__container {
  margin-bottom: 60px;
}
.hero__background {
  padding: 40px 40px 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url(../images/Oval.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-color: #e7816b;
  overflow: hidden;
  border-radius: 12px;
}

.hero__content {
  max-width: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  color: white;
  margin-bottom: 32px;
}

.hero__text {
  max-width: 420px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: white;
  margin-bottom: 40px;
}

.hero__background img {
  width: 410px;
  height: 590px;
  border-radius: 16px;
  object-fit: cover;
}

/* Media */

@media (max-width: 940px) {
  .hero__background {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
  }

  .hero__content {
    align-items: center;
    text-align: center;
  }

  .hero__background img {
    margin-bottom: -120px;
  }
}

@media (max-width: 600px) {
  .hero__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.125;
    margin-bottom: 14px;
  }

  .hero__text {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 24px;
  }

  .hero__background img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Projects */
.projects {
  padding-top: 80px;
}

.projects__container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "webd appd"
    "webd graphicd";
  column-gap: 30px;
  row-gap: 24px;
  padding-bottom: 60px;
}

.projects__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects__link:nth-child(1) {
  grid-area: webd;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/webDesign.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.projects__link:nth-child(1):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/webDesign.png);
}

.projects__link:nth-child(1):active {
  background-image: linear-gradient(
      rgba(231, 129, 107, 0.5),
      rgba(231, 129, 107, 0.5)
    ),
    url(../images/webDesign.png);
}

.projects__link:nth-child(2) {
  grid-area: appd;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/appDesign.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.projects__link:nth-child(2):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/appDesign.png);
}

.projects__link:nth-child(2):active {
  background-image: linear-gradient(
      rgba(231, 129, 107, 0.5),
      rgba(231, 129, 107, 0.5)
    ),
    url(../images/appDesign.png);
}

.projects__link:nth-child(3) {
  grid-area: graphicd;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/gaphicDesign.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.projects__link:nth-child(3):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/gaphicDesign.png);
}

.projects__link:nth-child(3):active {
  background-image: linear-gradient(
      rgba(231, 129, 107, 0.5),
      rgba(231, 129, 107, 0.5)
    ),
    url(../images/gaphicDesign.png);
}

.projects__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 2px;
  color: #ffffff;
  margin-bottom: 24px;
}

.projects__text {
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 5px;
  color: #ffffff;
}

.projects__text span {
  display: none;
}

@media (max-width: 920px) {
  .projects__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "webd"
      "appd"
      "graphicd";
    margin-bottom: 60px;
  }

  .projects__link {
    padding: 53px 0;
  }
}

@media (max-width: 550px) {
  .projects__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.3;
    letter-spacing: 1.4px;
  }

  .projects__text {
    display: flex;
    gap: 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 5px;
  }

  .projects__text span {
    display: block;
    color: #e7816b;
    font-size: 15px;
  }
}

/* workInfo */
.workInfo {
  padding-top: 90px;
  padding-bottom: 90px;
}

.workInfo__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.workInfo__boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.workInfo__boxes__img {
  width: 202px;
  height: 202px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.boxes__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workInfo__boxes__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 5px;
  margin-bottom: 30px;
  color: #333136;
}

.workInfo__boxes__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  max-width: 350px;
  width: 100%;
}

@media (max-width: 950px) {
  .workInfo__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
  }

  .workInfo__boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }
  .boxes__content {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .workInfo__boxes__title {
    margin-bottom: 15px;
  }

  .workInfo__boxes__text {
    max-width: 440px;
    width: 100%;
    text-align: start;
  }
}

@media (max-width: 590px) {
  .workInfo__container {
    gap: 80px;
  }

  .workInfo__boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .boxes__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .workInfo__boxes__text {
    max-width: 440px;
    width: 100%;
    text-align: center;
  }
}

.pre__footer {
  padding-bottom: 40px;
}
.pre__footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 72px 60px 56px 60px;
  background-color: #e7816b;
  background-image: url(../images/footerOval.png);
  background-repeat: no-repeat;
  background-position: center right;
  border-radius: 16px;
  margin-bottom: -100px;
  z-index: 1000;
  position: relative;
}

.pre__footer__content {
  max-width: 420px;
  width: 100%;
}

.pre__footer__title {
  max-width: 320px;
  width: 100%;
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  color: #ffffff;
  margin-bottom: 15px;
}

.pre__footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

.pre__footer__btn {
  margin-bottom: 55px;
}

@media (max-width: 760px) {
  .pre__footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 72px 60px 0 60px;
    background-image: url(../images/footerOval.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pre__footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pre__footer__title {
    text-align: center;
    margin-bottom: 10px;
  }

  .pre__footer__text {
    text-align: center;
    margin-bottom: 32px;
  }
}

@media (max-width: 490px) {
  .pre__footer__title {
    font-size: 32px;
    font-weight: 1.1;
    margin-bottom: 6px;
  }

  .pre__footer__text {
    font-size: 15px;
    line-height: 1.5;
  }
}

/* Footer */
.footer {
  background-color: #1d1c1e;
  color: white;
  padding-bottom: 65px;
}

.footer__head {
  padding-top: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__head__list {
  display: flex;
  align-items: center;
  gap: 42px;
}

.footer__head__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 2px;
  color: #ffffff;
}

.footer__head__link:hover {
  text-decoration: underline;
  color: #e7816b;
}

.footer__head__link:active {
  opacity: 0.6;
}

.footer__hr {
  height: 1px;
  margin-top: 40px;
  margin-bottom: 30px;
  opacity: 0.3;
}

.footer__hidden__hr {
  display: none;
}

.footer__banner {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 20px;
}

.footer__banner__listBox {
  max-width: 550px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.footer__banner__list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(138, 129, 129);
}

.bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}

.footer__social__list {
  display: flex;
  align-items: end;
  gap: 16px;
}

@media (max-width: 680px) {
  .footer__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .footer__head img {
    margin-bottom: 32px;
  }

  .footer__head__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .footer__hr {
    display: none;
  }

  .footer__hidden__hr {
    height: 1px;
    width: 100%;
    display: block;
    opacity: 0.2;
    margin-bottom: 32px;
  }

  .footer__banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .footer__banner__listBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
    gap: 40px;
  }
}

/* Webd, Appd, GraphicD Collection */
.collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: 24px;
  column-gap: 30px;
}

.collection__img {
  width: 100%;
  height: 320px;
}

.collection__content {
  text-align: center;
  background-color: #fdf3f0;
  padding: 32px;
  border-radius: 0 0 15px 15px;
}

.collection__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 5px;
  color: #e7816b;
  margin-bottom: 16px;
}

.collection__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #333136;
}

.collection__content:hover {
  background-color: #e7816b;
}

.collection__content:hover .collection__title {
  color: white;
}

.collection__content:hover .collection__text {
  color: white;
}

.collection__content:active {
  opacity: 0.5;
}

@media (max-width: 805px) {
  .collection__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .collection__img {
    max-width: 340px;
    width: 100%;
    height: 310px;
    border-radius: 15px 0 0 15px;
  }

  .collection__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 15px 15px 0;
  }
}

@media (max-width: 670px) {
  .webd__collection {
    padding-top: 30px;
    align-items: center;
    justify-content: center;
  }

  .collection {
    gap: 40px;
  }

  .collection__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .collection__content {
    max-width: 340px;
    width: 100%;
    height: 100%;
    border-radius: 0 0 15px 15px;
  }
}

/* Project view styles */
.project__view__container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(540px, 1fr));
  gap: 30px;
}

.project__view__item {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 16px;
}

.project__view__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 2;
  margin-bottom: 24px;
}

.project__view__text {
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

.project__view__text span {
  color: #e7816b;
}

@media (max-width: 605px) {
  .project__view__container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .project__view__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 1.4px;
    margin-bottom: 24px;
  }
}

/* Location section styles */
.location {
  padding-top: 80px;
  padding-bottom: 80px;
}

.location__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 80px;
  flex-wrap: wrap;
}

.location__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location__box img {
  width: 202px;
  height: 202px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.location__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 5px;
  color: #333136;
  margin-bottom: 32px;
}

.location__btn {
  background-color: #e7816b;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 18px 18px 16px 18px;
}

.location__btn:hover {
  opacity: 0.5;
}

.location__btn:active {
  opacity: 0.3;
}
