/* Font styles */
/* Jost font */
@font-face {
  font-display: swap;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jost-v20-latin-regular.woff2") format("woff2");
}
/* jost-italic - latin */
@font-face {
  font-display: swap;
  font-family: "Jost";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/jost-v20-latin-italic.woff2") format("woff2");
}
/* jost-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/jost-v20-latin-500.woff2") format("woff2");
}
/* jost-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/jost-v20-latin-700.woff2") format("woff2");
}

/* Manrope font */

@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/manrope-v20-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/manrope-v20-latin-600.woff2") format("woff2");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost";
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1360px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  padding: 17px 24px;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 1px;
  color: #333136;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
}

.btn:hover {
  background-color: #ffad9b;
  color: white;
}

/* Header */
.header {
  padding-top: 34px;
  padding-bottom: 45px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #333136;
}

.header__container i {
  display: none;
}

.header__item:hover .header__link {
  text-decoration: underline;
}

.header__item:active .header__link {
  opacity: 0.6;
  transition: 0.4s all;
}

@media (max-width: 600px) {
  .header__list {
    display: none;
  }

  .header__container i {
    display: block;
    font-size: 24px;
  }
}

/* Main  */
/* Hero section */
.hero__container {
  margin-bottom: 60px;
}
.hero__background {
  padding: 40px 40px 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url(../images/Oval.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-color: #e7816b;
  overflow: hidden;
  border-radius: 12px;
}

.hero__content {
  max-width: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  color: white;
  margin-bottom: 32px;
}

.hero__text {
  max-width: 420px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: white;
  margin-bottom: 40px;
}

.hero__background img {
  width: 410px;
  height: 590px;
  border-radius: 16px;
  object-fit: cover;
}

/* Media */

@media (max-width: 940px) {
  .hero__background {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
  }

  .hero__content {
    align-items: center;
    text-align: center;
  }

  .hero__background img {
    margin-bottom: -120px;
  }
}

@media (max-width: 600px) {
  .hero__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.125;
    margin-bottom: 14px;
  }

  .hero__text {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 24px;
  }

  .hero__background img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Projects */
.projects {
  padding-top: 80px;
}

.projects__container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "webd appd"
    "webd graphicd";
  column-gap: 30px;
  row-gap: 24px;
  padding-bottom: 60px;
}

.projects__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects__link:nth-child(1) {
  grid-area: webd;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/webDesign.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.projects__link:nth-child(1):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/webDesign.png);
}

.projects__link:nth-child(1):active {
  background-image: linear-gradient(
      rgba(231, 129, 107, 0.5),
      rgba(231, 129, 107, 0.5)
    ),
    url(../images/webDesign.png);
}

.projects__link:nth-child(2) {
  grid-area: appd;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/appDesign.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.projects__link:nth-child(2):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/appDesign.png);
}

.projects__link:nth-child(2):active {
  background-image: linear-gradient(
      rgba(231, 129, 107, 0.5),
      rgba(231, 129, 107, 0.5)
    ),
    url(../images/appDesign.png);
}

.projects__link:nth-child(3) {
  grid-area: graphicd;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/gaphicDesign.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.projects__link:nth-child(3):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/gaphicDesign.png);
}

.projects__link:nth-child(3):active {
  background-image: linear-gradient(
      rgba(231, 129, 107, 0.5),
      rgba(231, 129, 107, 0.5)
    ),
    url(../images/gaphicDesign.png);
}

.projects__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 2px;
  color: #ffffff;
  margin-bottom: 24px;
}

.projects__text {
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 5px;
  color: #ffffff;
}

.projects__text span {
  display: none;
}

@media (max-width: 920px) {
  .projects__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "webd"
      "appd"
      "graphicd";
    margin-bottom: 60px;
  }

  .projects__link {
    padding: 53px 0;
  }
}

@media (max-width: 550px) {
  .projects__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.3;
    letter-spacing: 1.4px;
  }

  .projects__text {
    display: flex;
    gap: 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 5px;
  }

  .projects__text span {
    display: block;
    color: #e7816b;
    font-size: 15px;
  }
}

/* workInfo */
.workInfo {
  padding-top: 90px;
  padding-bottom: 90px;
}

.workInfo__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.workInfo__boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.workInfo__boxes__img {
  width: 202px;
  height: 202px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.boxes__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workInfo__boxes__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 5px;
  margin-bottom: 30px;
  color: #333136;
}

.workInfo__boxes__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  max-width: 350px;
  width: 100%;
}

@media (max-width: 950px) {
  .workInfo__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
  }

  .workInfo__boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }
  .boxes__content {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .workInfo__boxes__title {
    margin-bottom: 15px;
  }

  .workInfo__boxes__text {
    max-width: 440px;
    width: 100%;
    text-align: start;
  }
}

@media (max-width: 590px) {
  .workInfo__container {
    gap: 80px;
  }

  .workInfo__boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .boxes__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .workInfo__boxes__text {
    max-width: 440px;
    width: 100%;
    text-align: center;
  }
}
